/**
* @category containers
* @component list-item
* @design collaboration-design
*/
@import '../tools/functions/core';
@import 'colors';

$cui-list__class: '#{$cui}-list';
$cui-list-item__class: '#{$cui-list__class}-item';

$cui-list-item__icon-size: rem-calc(20);
$cui-list-item__font-size: rem-calc(16);
$cui-list-item__line-height: rem-calc(24);
$cui-list-item__font-size--subheader: rem-calc(12);
$cui-list-item__line-height--subheader: rem-calc(18);
$cui-list-item__color--subheader: $black-60;
$cui-list-item__color--subheader--dark: $white-60;
$cui-list-item__opacity--disabled: .2;

// Normal List
$cui-list-item__height: rem-calc(44);
$cui-list-item__padding: (0 rem-calc(16));
$cui-list-item__padding--focus: (0 rem-calc(14));
$cui-list-item__section-margin-side: rem-calc(16);
$cui-list-item__background: $white;
$cui-list-item__background--dark: transparent;
$cui-list-item__background--hover: $list-blue-08 !default;
$cui-list-item__background--hover--dark: $white-08 !default;
$cui-list-item__background--pressed: $list-blue-16 !default;
$cui-list-item__background--pressed--dark: $white-16 !default;
$cui-list-item__avatar__dimension: rem-calc(28px) !default;
$cui-list-item__avatar__font-size: rem-calc(10);
$cui-list-item__avatar__line-height: rem-calc(14);
$cui-list-item__avatar__color: $black-80;
$cui-list-item__avatar__background-color: $gray-5-88;

// Small List
$cui-list-item--small__height: rem-calc(36);
$cui-list-item--small__padding: (rem-calc(8) rem-calc(10));
$cui-list-item--small__section-margin-side: rem-calc(10);

// Large List
$cui-list-item--large__height: rem-calc(52);
$cui-list-item--large__section-margin-side: rem-calc(18);
$cui-list-item--large__avatar__dimension: rem-calc(28) !default;
$cui-list-item--large__background--pressed: $black-12 !default;

// XLarge List
$cui-list-item--xlarge__height: rem-calc(60);

// Space List
$cui-list-item--space__section-margin-side: rem-calc(14);
$cui-list-item--space__padding: (0 rem-calc(28) 0 rem-calc(14));
$cui-list-item--space__background: transparent;
$cui-list-item--space__avatar__dimension: rem-calc(40) !default;
$cui-list-item--space__background--hover: $white-08 !default;
$cui-list-item--space__background--pressed: $white-24 !default;
$cui-list-item--space__color: $white;
$cui-list-item--space__color--header: $white-60 !default;
