/**
* @category controls
* @component radio
* @design collaboration-design
*/
@import '../tools/functions/core';

$cui-radio__class: '#{$cui}-radio';

$cui-radio__size: rem-calc(20);
$cui-radio__icon-size: rem-calc(8);
