/*
* @category controls
* @component button
* @design collaboration-design
*/
@import 'colors';
@import 'core';

$cui-top-bar-class: '#{$cui}-top-bar';
$cui-top-bar-mobile-class: '#{$cui}-tb-mobile';
$top-nav-font-size-mobile: rem-calc(14);

$cui-brand-image__size: rem-calc(20);
$cui-brand__font-size: rem-calc(16);

$cui-brand-image__size--medium: rem-calc(24);
$cui-brand__font-size--medium: rem-calc(20);

$cui-brand-image__size--large: rem-calc(36);

// variables for mobile slide out menu
$cui-brand-image__size--mobile: rem-calc(24);
$cui-brand__font-size--mobile: rem-calc(20);
$cui-brand__line-hight--mobile: rem-calc(32);

$cui-brand-anchor__padding: rem-calc(16);
$cui-brand-anchor__padding--medium: rem-calc(14);
$cui-brand-anchor__padding--large: rem-calc(12);

$cui-top-bar__background-color--dark: $gray-1;
$cui-top-bar__background-color--light: $white;
$cui-top-bar__background-color--blue: $blue;

$cui-top-bar__font-color--dark: $white;
$cui-top-bar__font-color--light: $black;

$cui-top-bar__font-color--dark--active: $blue;
$cui-top-bar__font-color--light--active: $blue-dark;
$cui-top-bar__font-color--blue--active: $black;

$cui-top-bar-list-item__padding--mobile: rem-calc(32);
$cui-top-bar-list-item__background: transparent;

$cui-top-bar-avatar__size: rem-calc(36);
